<div class="main-container d-flex">
    <div class="sidebar" id="side_nav">
        <div class="header-box px-2 pt-3 pb-4">
            <h1 class="fs-4"><span class="text-white">E-Course</span></h1>
        </div>

        <ul class="list-unstyled px-2">
            <li class=""><a (click)="change_view('mycourses')" class="text-decoration-none px-3 py-2 d-block"><i class="fa-regular fa-chalkboard"></i>My courses</a></li>
            <li class=""><a (click)="change_view('catalogue')" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-album-collection"></i>Catalogue</a></li>
            <li class="nav-item dropdown" *ngIf="catalogue_visibility">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Difficulty
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a (click)="callDifficulty('All')" id="aall" class="dropdown-item">All</a>
                    <a (click)="callDifficulty('Easy')" id="aeasy" class="dropdown-item">Easy</a>
                    <a (click)="callDifficulty('Medium')" id="amedium" class="dropdown-item">Medium</a>
                    <a (click)="callDifficulty('Hard')" id="ahard" class="dropdown-item">Hard</a>
                </div>
            </li>
        </ul>
        <hr class="h-color mx-3"> 
        <ul class="list-unstyled">
            <li class=""><a href="" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-gear"></i>Settings</a></li>
            <li class=""><a href="" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-envelope"></i>Notifications</a></li>  
        </ul>
    </div>
    <div class="content" >
        <app-catalogue *ngIf="catalogue_visibility"></app-catalogue>
        <app-mycourses *ngIf="mycourses_visibility"></app-mycourses>
    </div>
</div> 
